body {
  background-color: black;
}

.breadcrumb {
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 1.25rem;
  background-color: green;
}

.carousel-item {
  height: 85vh;
}

.carousel-item img {
  margin: auto;
}

footer {
  height: 5vh;
  background-color: orange;
}
